.navbar-brand {
  padding: 0 2rem;
}

html {
  font-family: 'Epilogue';
}

.dropdown-item {
  font-size: 0.8rem;
  color: #696969;
}

.dropdown {
  text-decoration: none;
}

.navbar {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .hero-section {
  }
}

